{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<div class="back_re">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title">
					<h2>gallery</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- gallery -->
<div class="gallery">
	<div class="container">

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery1.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery2.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery3.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery4.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery5.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery6.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src="{% static 'img/gallery7.jpg' %}" alt="#" /></figure>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="gallery_img">
					<figure><img src=" {% static 'img/gallery8.jpg' %}" alt="#" /></figure>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}